NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBVk1HMHsjI5Uc79AprnDfvizaHt9TOCe0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mcq-decoder.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mcq-decoder
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mcq-decoder.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=664074686590
NEXT_PUBLIC_FIREBASE_APP_ID=1:664074686590:web:0f71cd692a0ee454f1c82f
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-M3LPT9GNZR

NEXT_PUBLIC_ADMIN_EMAIL=jubaer7080@gmail.com
NEXT_PUBLIC_WHATSAPP=966538196763
NEXT_PUBLIC_EMAIL=jubaer7080@gmail.com
